

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Identity Guesser</h1>
    <p class="lead">IdentityGuesser is a free web application that makes a guess as to what it sees in the photo you upload.<br/> 
    This app is possible due to the wonderful work provided by Microsoft Cognitive Services API</p>
    <div class="row">
        <div class="col-sm-8">
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" id="upload" style="display: none" onchange="$('#submit').click();" />
                <input type="button" value="Upload a Photo" class="btn btn-primary btn-lg" onclick="$('#upload').click();" />
                <input type="submit" id="submit" style="display: none" />
            }
         </div>
    </div>
</div>
<hr />
<div class="container col-sm-12" style="padding-top: 24px">
    <div class="col-sm-4 text-center">
        <img src="@ViewBag.ImagePath" width="296" />
    </div>
    <div class="col-sm-8">
        @if (ViewBag.Caption != null)
        {
            <p>
                <h4>Caption:</h4>
                @ViewBag.Caption <br />
                <h4>Age:</h4>
                @ViewBag.Age <br />
                <h4>Gender:</h4>
                @ViewBag.Gender <br />
                <h4>You seem to be feeling:</h4>
                @ViewBag.Emotion <br />
            </p>
        }
    </div>
</div>
<hr />
<div class="container col-sm-12" style="padding-top: 24px">
    <div>
        @if (ViewBag.Images != null)
            {
            <h4> That image reminds me of these:<br /></h4>
            foreach (var image in ViewBag.Images)
            {
                <img src=@image />
            }
        }
    </div>
</div>

